@using DAL.Models;
@model  Article[]

@{
    ViewBag.Title = "Главная";
}

<h2>Главная</h2>
<hr />

@foreach (var article in Model)
{
    <h3>Название - @article.Title</h3>
    <h4>Дата публикации - @article.PublishDate.ToShortDateString()</h4>
    <h4>Содержание - @article.TextContent</h4>
    <a href="@Url.Action("Details", "Article", new { id = article.Id })">Детали</a>
    <hr />
}
