@using DAL.Models;
@model  Article[]

@{
    ViewBag.Title = "Главная";
}

<h2>Главная</h2>
<hr />

@foreach (var article in Model)
{
    <h3>Название - @article.Title</h3>
    <h4>@article.TextContent.Substring(0,200)...</h4>
    <a href="@Url.Action("Details", "Article", new { id = article.Id })">Подробнее</a>
    <hr />
}
